---
import "../globals.css";
import Tabs from "../components/tabs.astro";
import TabItem from "../components/tab-item.astro";
import Slider from "../components/slider.astro";

const DEFAULT_VALUES = {
  // tilt / movement
  a: 0.1,
  a_increment: 0.00002,
  b: 0.1,
  b_increment: 0.00002,
  // donut shape/size
  r1: 0.85,
  r2: 2,
  k2: 5,
  theta_increment: 0.07,
  phi_increment: 0.03,
} as const;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>astro-zig-canvas</title>
  </head>
  <body class="mx-auto w-full max-w-2xl">
    <div class="flex min-h-screen w-full flex-col items-center gap-3">
      <pre
        id="donut"
        class="flex h-[320px] w-full items-center justify-center whitespace-pre bg-tokyo-bg text-[6px] text-tokyo-fg sm:h-[440px] sm:text-[10px]">
      </pre>

      <div class="w-full space-y-6 px-4 pb-12 md:max-w-[560px]">
        <div class="text-xs">
          <span>
            a: <span id="a_display"></span>
          </span>
          <span>
            a_increment: <span id="a_increment_display"></span>
          </span>
          <span>
            b: <span id="b_display"> </span>
          </span>
          <span>
            b_increment:
            <span id="b_increment_display"></span>
          </span>
          <span>
            r1:
            <span id="r1_display"></span>
          </span>
          <span>
            r2:
            <span id="r2_display"></span>
          </span>
          <span>
            k2:
            <span id="k2_display"></span>
          </span>
          <span>
            theta_increment:
            <span id="theta_increment_display"></span>
          </span>
          <span>
            phi_increment:
            <span id="phi_increment_display"></span>
          </span>
        </div>

        <Tabs>
          <TabItem label="controls">
            <div class="space-y-8 pb-6 pt-8 md:pb-6 md:pt-6">
              <Tabs
                wrapperClass="border-none px-0"
                alignment="center"
                tabClass="aria-selected:text-tokyo-blue hover:text-tokyo-blue/80"
              >
                <TabItem label="spin">
                  <div
                    class="flex w-full flex-col items-center justify-center gap-y-8 pt-8 text-sm"
                  >
                    <Slider
                      id="a"
                      description="first angle of rotation"
                      value={DEFAULT_VALUES["a"]}
                      min={0.1}
                      max={10}
                      step={0.1}
                      round={1}
                    />

                    <Slider
                      id="a_increment"
                      description="speed for first angle of rotation"
                      value={DEFAULT_VALUES["a_increment"]}
                      min={0.00001}
                      max={0.0005}
                      step={0.00001}
                      round={5}
                    />

                    <Slider
                      id="b"
                      description="second angle of rotation"
                      value={DEFAULT_VALUES["b"]}
                      min={0.1}
                      max={10}
                      step={0.1}
                      round={1}
                    />

                    <Slider
                      id="b_increment"
                      description="speed for second angle of rotation"
                      value={DEFAULT_VALUES["b_increment"]}
                      min={0.00001}
                      max={0.0005}
                      step={0.00001}
                      round={5}
                    />
                  </div>
                </TabItem>

                <TabItem label="size">
                  <div
                    class="flex w-full flex-col items-center justify-center gap-y-8 pt-8 text-sm"
                  >
                    <Slider
                      id="r1"
                      description="thickness of donut"
                      value={DEFAULT_VALUES["r1"]}
                      min={0.05}
                      max={2}
                      step={0.05}
                      round={2}
                    />

                    <Slider
                      id="r2"
                      description="width of donut hole"
                      value={DEFAULT_VALUES["r2"]}
                      min={0.1}
                      max={3}
                      step={0.1}
                      round={1}
                    />

                    <Slider
                      id="k2"
                      description="distance of donut from camera"
                      value={DEFAULT_VALUES["k2"]}
                      min={3}
                      max={15}
                      step={0.5}
                      round={1}
                    />
                  </div>
                </TabItem>

                <TabItem label="donut">
                  <div
                    class="flex w-full flex-col items-center justify-center gap-y-8 pt-8 text-sm"
                  >
                    <Slider
                      id="theta_increment"
                      description="used to create cross section of donut"
                      value={DEFAULT_VALUES["theta_increment"]}
                      min={0.01}
                      max={2 * 3.14}
                      step={0.01}
                      round={2}
                    />

                    <Slider
                      id="phi_increment"
                      description="used to create donut"
                      value={DEFAULT_VALUES["phi_increment"]}
                      min={0.01}
                      max={2 * 3.14}
                      step={0.01}
                      round={2}
                    />
                  </div>
                </TabItem>
              </Tabs>

              <div class="flex items-center justify-center">
                <button
                  id="export"
                  class="border-[0.5px] border-tokyo-comment px-3 py-1 text-sm duration-200 ease-in-out hover:scale-105 hover:cursor-pointer hover:bg-tokyo-fg hover:text-tokyo-bg focus:scale-110"
                  >export as gif</button
                >
              </div>
            </div>
          </TabItem>
          <TabItem label="faq">
            <div class="space-y-6 px-0.5 py-4">
              <div class="space-y-1.5">
                <span class="text-tokyo-blue">How does this work?</span>
                <p>
                  Based on the famous <a
                    href="https://www.a1k0n.net/2011/07/20/donut-math.html"
                    target="_blank">donut.c</a
                  >, rewritten in zig and compiled to wasm. Config values are
                  sent from the html page to the wasm binary, with the output
                  frame calculated and returned.
                </p>
              </div>
              <div class="space-y-1.5">
                <span class="text-tokyo-blue"
                  >What do the values "a", "b", "a_increment", etc mean?</span
                >
                <p>
                  Please refer to <a
                    href="https://www.a1k0n.net/2011/07/20/donut-math.html"
                    target="_blank">donut.c</a
                  >
                </p>
              </div>
              <div class="space-y-1.5">
                <span class="text-tokyo-blue"
                  >Is the animation a video/gif?</span
                >
                <p>
                  No, every frame of the animation above is ascii text output
                  generated by a wasm program compiled from zig
                </p>
              </div>
            </div>
          </TabItem>
        </Tabs>
      </div>
    </div>
  </body>
  <!-- <input id="fps" type="number" /> -->
  <!-- <input id="width" type="number" /> -->
  <!-- <input id="height" type="number" /> -->
</html>

<script>
  import { GIFEncoder, quantize, applyPalette } from "gifenc";
  import domtoimage from "dom-to-image";

  import { updateSearchParams } from "./search_params";

  const gif = GIFEncoder();
  let palette: number[][];
  const MAX_FRAMES = 600;
  let frames = 0;

  const memory = new WebAssembly.Memory({
    // See build.zig for reasoning
    initial: 2 /* pages */,
    maximum: 2 /* pages */,
  });

  function decodeString(ptr: number, len: number) {
    const slice = new Uint8Array(
      memory.buffer, // memory exported from Zig
      ptr,
      len,
    );
    return new TextDecoder().decode(slice);
  }

  const importObject: WebAssembly.Imports = {
    env: {
      // Useful for debugging on zig's side
      print: (ptr: number, len: number) => {
        console.log(decodeString(ptr, len));
      },
      memory: memory,
    },
  };

  // Loads and initializes the requested WASM file
  WebAssembly.instantiateStreaming(
    fetch("/bin/astro-donut.wasm"),
    importObject,
  ).then((res) => {
    const wasmMemoryArray = new Uint8Array(memory.buffer);
    const exports = res.instance.exports as {
      getCharBufferPtr: () => number;
      getScreenHeight: () => number;
      getScreenWidth: () => number;
      getR1: () => number;
      setR1: (r1: number) => void;
      getR2: () => number;
      setR2: (r2: number) => void;
      getK2: () => number;
      setK2: (k2: number) => void;
      getA: () => number;
      setA: (a: number) => void;
      getB: () => number;
      setB: (b: number) => void;
      getAIncrement: () => number;
      setAIncrement: (increment: number) => void;
      getBIncrement: () => number;
      setBIncrement: (increment: number) => void;
      getThetaIncrement: () => number;
      setThetaIncrement: (increment: number) => void;
      getPhiIncrement: () => number;
      setPhiIncrement: (increment: number) => void;
      render_frame: () => void;
    };
    const pre: HTMLPreElement = document.getElementById(
      "donut",
    ) as HTMLPreElement;
    const inputHandlers: Record<string, (value: number) => void> = {
      r1: exports.setR1,
      r2: exports.setR2,
      k2: exports.setK2,
      a: exports.setA,
      a_increment: exports.setAIncrement,
      b: exports.setB,
      b_increment: exports.setBIncrement,
      theta_increment: exports.setThetaIncrement,
      phi_increment: exports.setPhiIncrement,
    };

    const params = new URLSearchParams(window.location.search);
    Object.entries(inputHandlers).forEach(([id, handler]) => {
      const element = document.getElementById(id) as HTMLInputElement;
      const paramValue = params.get(id);
      console.log({ paramValue });
      if (paramValue != null) {
        element.setAttribute("value", paramValue);
      }
      const displayId = `${id}_display`;
      const displayEl = document.getElementById(displayId);
      const elementValue = element.getAttribute("value");
      // Set initial values
      if (displayEl && elementValue !== null) {
        displayEl.innerHTML = elementValue;
      }
      element.addEventListener("change", (e) => {
        let value = (e as any).detail.value;
        if (value === null || value === undefined) {
          return;
        }
        value = parseFloat(value);
        if (value === Infinity || value == null) {
          console.error(`invalid ${id}: ${value}`);
          return;
        }

        const displayEl = document.getElementById(displayId);
        if (displayEl) {
          displayEl.innerHTML = value;
        }
        gif.reset();
        frames = 0;

        handler(value);
      });
      element.addEventListener("mouseup", () => {
        const value = element.value;
        updateSearchParams(id, value);
      });
      element.addEventListener("touchend", () => {
        const value = element.value;
        updateSearchParams(id, value);
      });
      element.addEventListener("keyup", () => {
        const value = element.value;
        updateSearchParams(id, value);
      });
    });

    const height = exports.getScreenHeight();
    const width = exports.getScreenWidth();
    function renderFrame() {
      exports.render_frame();
      const bufferOffset = exports.getCharBufferPtr();
      const donutCharArray = wasmMemoryArray.slice(
        bufferOffset,
        bufferOffset + height * width,
      );
      const donutStr = new TextDecoder().decode(donutCharArray);
      pre.innerHTML = donutStr;

      // TODO: this misses out on a few frames since by the time
      // this check executes a few `renderFrame` fns would've been
      // added to event queue already
      if (frames >= MAX_FRAMES) {
        return;
      }

      domtoimage.toPixelData(pre).then(function (pixels) {
        if (!palette) {
          palette = quantize(pixels, 2, {
            format: "rgb444",
            oneBitAlpha: true,
          });
        }

        const index = applyPalette(pixels, palette);
        gif.writeFrame(index, pre.scrollWidth, pre.scrollHeight, {
          palette,
          delay: 16,
        });
        frames += 1;
      });
    }

    document.getElementById("export")?.addEventListener("click", () => {
      gif.finish();
      const bytes = gif.bytes();
      const blob = new Blob([bytes], { type: "image/gif" });
      const link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      link.download = "donut.gif";
      link.click();
    });

    renderFrame();
    console.log({ memoryBuffer: memory.buffer });
    setInterval(renderFrame, 16.666);
  });
</script>
